{{ form_start(form) }}

<div class="form-group">
    {{ form_row(form.libelle) }}
    {{ form_row(form.service) }}
    {{ form_row(form.ordre) }}
    {{ form_row(form.actif) }}
</div>

<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
